body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: whitesmoke;
    outline: none;
}

a:hover{
    color: #9fc246;
    transition: 0.6s;
}

*{
    -webkit-tap-highlight-color: transparent;
}

/*----- For Mobile -----*/

@media screen and (max-width: 768px) {

    /*----- Top Bar Section -----*/
    
    .top-bar-contact-container{
        width: 100%;
        margin: auto;
        height: 40px;
        background-color: #262626;
    }
    
    .phone-section{
        height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #222222;
    }

    .social-section a:hover{
       opacity: 0.7;
    }

    .phone-section img{
        width: 17px;
        margin-bottom: 1px;
    }
    
    .phone-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .email-section{
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #222222;
    }

    .email-section img{
        width: 19px;
    }
    
    .email-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .social-section{
        height: 100%;
        background-color: #222222;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-containers{
        margin-left: 15px;
        margin-right: 15px;
    }

    /*----- FB Container -----*/

    .social-container-fb{
        background-color: #3B5998;
        width: 25px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;
        float: left;
    }

    .social-container-fb img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

     /*----- Twitter Container -----*/

     .social-container-twitter{
        background-color: #55ACEE;
        width: 25px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;

    }

    .social-container-twitter img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    /*----- Instagram Container -----*/

    .social-container-instagram{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        width: 25px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;
    }

    .social-container-instagram img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
        margin-left: 4px;
    }
}

/*----- For Tablet -----*/

@media screen and (min-width: 769px) and (max-width: 1050px) {

    /*----- Top Bar Section -----*/
    
    .top-bar-contact{
        width: 100%;
        background-color: #222222;
        height: 40px;
    }
    
    .top-bar-contact-container{
        width: 100%;
        margin: auto;
        height: 40px;
    }
    
    .phone-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    .phone-section img{
        width: 17px;
        margin-bottom: 1px;
    }
    
    .phone-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .email-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    .email-section img{
        width: 19px;
    }
    
    .email-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .social-section{
        float:right;
        height: 40px;
        margin-right: 25px;
    }

    .box-containers{
        float: right;
 }

    /*----- FB Container -----*/

    .social-container-fb{
        background-color: #3B5998;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-fb img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-fb:hover{
        padding-top: 5px;
    }

     /*----- Twitter Container -----*/

     .social-container-twitter{
        background-color: #55ACEE;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-twitter img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-twitter:hover{
        padding-top: 5px;
    }

    /*----- Instagram Container -----*/

    .social-container-instagram{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        float: right;
    }

    .social-container-instagram img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
        margin-left: 4px;
    }

    .social-container-instagram:hover{
        padding-top: 5px;
    }
}

/*----- For Desktop -----*/

@media only screen and (min-width: 1050px) {

    /*----- Top Bar Section -----*/
    
    .top-bar-contact{
        width: 100%;
        background-color: #222222;
        height: 40px;
    }
    
    .top-bar-contact-container{
        width: 1040px;
        margin: auto;
        height: 40px;
    }
    
    .phone-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .phone-section img{
        width: 17px;
        margin-bottom: 1px;
    }
    
    .phone-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .email-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    .email-section img{
        width: 19px;
    }
    
    .email-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .social-section{
        float:right;
        height: 40px;
    }

    .box-containers{
        float: right;
    }

    /*----- FB Container -----*/

    .social-container-fb{
        background-color: #3B5998;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-fb img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-fb:hover{
        padding-top: 5px;
    }

     /*----- Twitter Container -----*/

     .social-container-twitter{
        background-color: #55ACEE;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-twitter img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-twitter:hover{
        padding-top: 5px;
    }

    /*----- Instagram Container -----*/

    .social-container-instagram{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        overflow: hidden;
        float: right;
    }

    .social-container-instagram img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
        margin-left: 4px;
    }

    .social-container-instagram:hover{
        padding-top: 5px;
    }

    /*----- Logo - Nav Section -----*/

    .logo-nav-section{
        width: 1040px;
        margin: 0 auto;
    }

    .logo-container{
        float: left;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 25px;
    }

    .logo-container h3{
        float: left;
        margin-left: 25px;
        color: #4d4d4d;
        letter-spacing: 1px;;
    }

    .logo-img{
        float: left;
        width: 50px;
    }

    .menu-container{
        float: right;
    }

    .menu-container ul{
        list-style: none;
        margin-top: 36px;
    }

    .menu-container li{
        float: right;
        margin-left: 20px;
    }

    .menu-container li a{
        color: #4d4d4d;
    }

    .menu-container li a:hover{
        color: #9fc246;
        transition: 0.6s;
    }

    /*----- Hero Section -----*/

    .hero-container{
        width: 100%;
        height: 550px;
        background-color: #222222;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-section img{
        width: 100%;
    }

}
