body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: whitesmoke;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:hover{
    color: #9fc246;
    transition: 0.6s;
}

/*----- For Mobile -----*/

@media screen and (max-width: 768px) {

    /*----- Top Bar Section -----*/
    
    .top-bar-contact-container{
        width: 100%;
        margin: auto;
        height: 40px;
        background-color: #222222;
    }
    
    .phone-section{
        height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #222222;
    }

    .phone-section img{
        width: 17px;
        margin-bottom: 1px;
    }
    
    .phone-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .email-section{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #222222;
    }

    .email-section img{
        width: 19px;
    }
    
    .email-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .social-section{
        height: 40px;
        background-color: #222222;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .social-section:hover{
        opacity: 1.8;
        display: none;
    }

    /*----- FB Container -----*/

    .social-container-fb{
        background-color: #3B5998;
        width: 25px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;
    }

    .social-container-fb img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

     /*----- Twitter Container -----*/

     .social-container-twitter{
        background-color: #55ACEE;
        width: 25px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;
        margin-left: 10px;
    }

    .social-container-twitter img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    /*----- Instagram Container -----*/

    .social-container-instagram{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        width: 25px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;
        margin-left: 10px;
    }

    .social-container-instagram img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
        margin-left: 4px;
    }
}

/*----- For Tablet -----*/

@media screen and (min-width: 769px) and (max-width: 1050px) {

    /*----- Top Bar Section -----*/
    
    .top-bar-contact{
        width: 100%;
        background-color: #222222;
        height: 40px;
    }
    
    .top-bar-contact-container{
        width: 100%;
        margin: auto;
        height: 40px;
    }
    
    .phone-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    .phone-section img{
        width: 17px;
        margin-bottom: 1px;
    }
    
    .phone-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .email-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    .email-section img{
        width: 19px;
    }
    
    .email-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .social-section{
        float:right;
        height: 40px;
        margin-right: 25px;
    }

    /*----- FB Container -----*/

    .social-container-fb{
        background-color: #3B5998;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-fb img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-fb:hover{
        padding-top: 5px;
    }

     /*----- Twitter Container -----*/

     .social-container-twitter{
        background-color: #55ACEE;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-twitter img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-twitter:hover{
        padding-top: 5px;
    }

    /*----- Instagram Container -----*/

    .social-container-instagram{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        float: right;
    }

    .social-container-instagram img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
        margin-left: 4px;
    }

    .social-container-instagram:hover{
        padding-top: 5px;
    }
}

/*----- For Desktop -----*/

@media only screen and (min-width: 1050px) {

    /*----- Top Bar Section -----*/
    
    .top-bar-contact{
        width: 100%;
        background-color: #222222;
        height: 40px;
    }
    
    .top-bar-contact-container{
        width: 1040px;
        margin: auto;
        height: 40px;
    }
    
    .phone-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .phone-section img{
        width: 17px;
        margin-bottom: 1px;
    }
    
    .phone-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .email-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    .email-section img{
        width: 19px;
    }
    
    .email-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .social-section{
        float:right;
        height: 40px;
    }

    /*----- FB Container -----*/

    .social-container-fb{
        background-color: #3B5998;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-fb img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-fb:hover{
        padding-top: 5px;
    }

     /*----- Twitter Container -----*/

     .social-container-twitter{
        background-color: #55ACEE;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-twitter img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-twitter:hover{
        padding-top: 5px;
    }

    /*----- Instagram Container -----*/

    .social-container-instagram{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        overflow: hidden;
        float: right;
    }

    .social-container-instagram img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
        margin-left: 4px;
    }

    .social-container-instagram:hover{
        padding-top: 5px;
    }

}
