body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: whitesmoke;
    outline: none;
}

a:hover{
    color: #9fc246;
    transition: 0.6s;
}

*{
    -webkit-tap-highlight-color: transparent;
}

/*----- For Mobile -----*/

@media screen and (max-width: 768px) {

    .desktop-nav-container{
        display: none !important;
    }

    /*----- Top Bar Section -----*/
    
    .top-bar-contact-container{
        width: 100%;
        margin: auto;
        background-color: #222222;
        padding-bottom: 15px;
    }
    
    .phone-section{
        height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #222222;
    }

    .social-section a:hover{
       opacity: 0.7;
    }

    .phone-section img{
        width: 17px;
        margin-bottom: 1px;
    }
    
    .phone-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .email-section{
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #222222;
    }

    .email-section img{
        width: 19px;
    }
    
    .email-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .social-section{
        margin-top: 10px;
        background-color: #222222;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-containers{
        margin-left: 15px;
        margin-right: 15px;
    }

    /*----- FB Container -----*/

    .social-container-fb{
        background-color: #3B5998;
        width: 25px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;
        float: left;
    }

    .social-container-fb img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

     /*----- Twitter Container -----*/

     .social-container-twitter{
        background-color: #55ACEE;
        width: 25px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;

    }

    .social-container-twitter img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    /*----- Instagram Container -----*/

    .social-container-instagram{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        width: 25px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        overflow: hidden;
    }

    .social-container-instagram img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
        margin-left: 4px;
    }

    /*----- Logo - Nav Section -----*/

    .btn-img{
       width: 45px;
       float: right;
       margin-top: 9px;
       margin-right: 20px;
       transform: rotate(0deg);
       transition: transform 0.5s;
    }

    .btn-img:active {
        transform: rotate(180deg);
        transition:  0s;
      }

    .logo-container h3{
        float: left;
        margin-left: 15px;
        margin-top: 20px;
        letter-spacing: 1px;
    }

    .img-logo{
       width: 45px;
       margin-top: 9px;
       margin-left: 20px;
       float: left;
    }

    .clear{
        clear: both;
    }

    #nav-container{
        display: none;
        border-top: 1px solid #e7e7e7;
     }
     
    .nav-container ul{
       list-style: none;
       margin: 0;
       padding: 0;
       clear: both;
    }

    .nav-container li{
        display: block;
        text-align: center;
    }

    .nav-container li a{
        color: #6b6b6b;
        display: block;
        padding: 10px;
    }

    .nav-container li a:hover{
        color: #9fc246;
        transition: 0.6s;
    }

    /*----- Hero Section -----*/

    .hero-section{
        clear: both;
        width: 100%;
        height: 300px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/icons_assets/hero.jpg);
        background-position: center;
        background-size: cover;
    }

    .text-content{
        padding: 0;
        margin: 0;
    }

    .text-content p{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
        color: white;
        font-size: 40px;
        letter-spacing: 1px;

    }

    .text-content button{
        width: 110px;
        height: 35px;
        border-radius: 25px;
        border: none;
        background-color: #8ead3e;
        color: white;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    .text-content button:hover{
        background-color: #83a039;
    }

    /*----- Quote Section -----*/
    
    .quote-container{
        width: 100%;
        background-color: #9fc246;
    }
    
    .quote-section p{
         color:#e7e7e7;
         font-size: 24px;
         display: block;
         padding: 0px;
         margin: 0px;
         text-align: center;
         padding-top: 20px;
    }

    .quote-section{
        width: 100%;
    }

    .wrapper-btn{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .quote-btn{
        margin-left: 0 auto;
        margin-right: 0 auto;
        display: block;
        width: 110px;
        height: 35px;
        border-radius: 25px;
        border: 1px solid whitesmoke;
        background-color: #9fc246;
        color: whitesmoke;
        cursor: pointer;
        margin: 0 auto;
    }

    .quote-btn:hover{
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
        color: #9fc246;
        cursor: pointer;
    }
}

/*----- For Tablet -----*/

@media screen and (min-width: 769px) and (max-width: 1049px) {

    .desktop-nav-container{
        display: none !important;
    }

    /*----- Top Bar Section -----*/
    
    .top-bar-contact{
        width: 100%;
        background-color: #222222;
        height: 40px;
    }
    
    .top-bar-contact-container{
        width: 100%;
        margin: auto;
        height: 40px;
    }
    
    .phone-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    .phone-section img{
        width: 17px;
        margin-bottom: 1px;
    }
    
    .phone-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .email-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    .email-section img{
        width: 19px;
    }
    
    .email-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .social-section{
        float:right;
        height: 40px;
        margin-right: 25px;
    }

    .box-containers{
        float: right;
 }

    /*----- FB Container -----*/

    .social-container-fb{
        background-color: #3B5998;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-fb img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-fb:hover{
        padding-top: 5px;
    }

     /*----- Twitter Container -----*/

     .social-container-twitter{
        background-color: #55ACEE;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-twitter img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-twitter:hover{
        padding-top: 5px;
    }

    /*----- Instagram Container -----*/

    .social-container-instagram{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        float: right;
    }

    .social-container-instagram img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
        margin-left: 4px;
    }

    .social-container-instagram:hover{
        padding-top: 5px;
    }

    /*----- Logo - Nav Section -----*/

    .btn-img{
        width: 45px;
        float: right;
        margin-top: 9px;
        margin-right: 20px;
        transform: rotate(0deg);
        transition: transform 0.5s;
     }
 
     .btn-img:active {
         transform: rotate(180deg);
         transition:  0s;
       }

     .logo-container h3{
        float: left;
        margin-left: 15px;
        letter-spacing: 1px;
    }
 
     .img-logo{
        width: 45px;
        margin-top: 7px;
        margin-bottom: 6px;
        margin-left: 20px;
        float: left;
     }
 
     .clear{
         clear: both;
     }
 
     #nav-container{
         display: none;
         border-top: 1px solid #e7e7e7;
      }
      
     .nav-container ul{
        list-style: none;
        margin: 0;
        padding: 0;
        clear: both;
     }
 
     .nav-container li{
         display: block;
         text-align: center;
     }
 
     .nav-container li a{
         color: #6b6b6b;
         display: block;
         padding: 10px;
     }
 
     .nav-container li a:hover{
         color: #9fc246;
         transition: 0.6s;
     }


    /*----- Hero Section -----*/

    .hero-section{
            clear: both;
            width: 100%;
            height: 350px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/icons_assets/hero.jpg);
            background-position: center;
            background-size: cover;
    }

    .text-content{
        padding: 0;
        margin: 0;
    }

    .text-content p{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 120px;
        color: white;
        font-size: 60px;
        letter-spacing: 1px;

    }

    .text-content button{
        width: 110px;
        height: 35px;
        border-radius: 25px;
        border: none;
        background-color: #8ead3e;
        color: white;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    .text-content button:hover{
        background-color: #83a039;
    }

    /*----- Quote Section -----*/
    
    .quote-container{
        width: 100%;
        height: 90px;
        background-color: #9fc246;
        overflow: hidden;
    }

    .quote-section{
         width: 100%;
         margin: 0 auto;
    }

    .quote-section p{
         float: left;
         line-height: 37px;
         color:#e7e7e7;
         font-size: 24px;
         margin-left: 30px;
         
    }

    .quote-btn{
        float: right;
        width: 110px;
        height: 35px;
        border-radius: 25px;
        border: 1px solid whitesmoke;
        background-color: #9fc246;
        color: whitesmoke;
        cursor: pointer;
        margin-top: 27px;
        margin-right: 20px;
    }

    .quote-btn:hover{
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
        color: #9fc246;
        cursor: pointer;
    }
    
}

/*----- For Desktop -----*/

@media only screen and (min-width: 1050px) {

    .nav-btn-container{
        display: none;
    }

    .nav-container{
        display: none !important;
    }

    /*----- Top Bar Section -----*/
    
    .top-bar-contact{
        width: 100%;
        background-color: #222222;
        height: 40px;
    }
    
    .top-bar-contact-container{
        width: 1040px;
        margin: auto;
        height: 40px;
    }
    
    .phone-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .phone-section img{
        width: 17px;
        margin-bottom: 1px;
    }
    
    .phone-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .email-section{
        float:left;
        height: 40px;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    .email-section img{
        width: 19px;
    }
    
    .email-section p{
        color:whitesmoke;
        font-size: 14px;
        margin-left: 7px;
    }
    
    .social-section{
        float:right;
        height: 40px;
    }

    .box-containers{
        float: right;
    }

    /*----- FB Container -----*/

    .social-container-fb{
        background-color: #3B5998;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-fb img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-fb:hover{
        padding-top: 5px;
    }

     /*----- Twitter Container -----*/

     .social-container-twitter{
        background-color: #55ACEE;
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        overflow: hidden;
        float: right;
        margin-left: 5px;
    }

    .social-container-twitter img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
    }

    .social-container-twitter:hover{
        padding-top: 5px;
    }

    /*----- Instagram Container -----*/

    .social-container-instagram{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        width: 25px;
        height: 25px;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        overflow: hidden;
        float: right;
    }

    .social-container-instagram img{
        width: 17px;
        display:block;
        margin:auto;
        margin-top: 5px;
        margin-left: 4px;
    }

    .social-container-instagram:hover{
        padding-top: 5px;
    }

    /*----- Logo - Nav Section -----*/

    .nav-logo-section{
        width: 1040px;
        height: 80px;
        margin: 0 auto;
        overflow: hidden;
    }

    .logo-container h3{
        float: right;
        margin-left: 15px;
        letter-spacing: 1px;
    }

    .logo-container{
        height: 55px;
        margin-top: 13px;
        margin-left: 15px;
        overflow: hidden;
        float: left;
    }

    .img-logo{
        max-width:100%;
        max-height:100%;
    }
    
    .desktop-nav-container{
        float: right;
        height: 60px;
        margin-top: 12px;
        margin-right: 15px;
        width: 500px;
        overflow: hidden;
    }

    .desktop-nav-container ul{
        list-style: none;
    }

    .desktop-nav-container li{
        float: right;
        margin-left: 25px;
        margin-top:5px;
    }

    .desktop-nav-container li a{
        color: #4d4d4d;
    }

    .desktop-nav-container li a:hover{
        color: #9fc246;
        transition: 0.6s;
    }

    /*----- Hero Section -----*/

    .hero-section{
        width: 100%;
        height: 500px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/icons_assets/hero.jpg);
        background-position: center;
        background-size: cover;
    }

    .text-content{
        padding: 0;
        margin: 0;
    }

    .text-content p{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 170px;
        color: white;
        font-size: 60px;
        letter-spacing: 1px;

    }

    .text-content button{
        width: 110px;
        height: 35px;
        border-radius: 25px;
        border: none;
        background-color: #9fc246;
        color: white;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    .text-content button:hover{
        background-color: #9fc246;
    }

    /*----- Quote Section -----*/
    
    .quote-container{
        width: 100%;
        height: 90px;
        background-color: #9fc246;
        overflow: hidden;
    }

    .quote-section{
         width: 1040px;
         margin: 0 auto;
    }

    .quote-section p{
         float: left;
         line-height: 37px;
         color:#e7e7e7;
         font-size: 24px;
         margin-left: 30px;
         
    }

    .quote-btn{
        float: right;
        width: 110px;
        height: 35px;
        border-radius: 25px;
        border: 1px solid whitesmoke;
        background-color: #9fc246;
        color: whitesmoke;
        cursor: pointer;
        margin-top: 27px;
        margin-right: 20px;
    }

    .quote-btn:hover{
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
        color: #9fc246;
        cursor: pointer;
    }

}

/*----- images that need 100% screen width  -----*/

@media only screen and (min-width: 1920px) {

    /*----- Hero Section -----*/

    .hero-section{
        width: 100%;
        height: 500px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/icons_assets/hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}